Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

make dialog scrollable
  packages/mcs-lite-admin-web/src/components/DialogConfirm/DialogConfirm.js
  packages/mcs-lite-admin-web/src/containers/User/Dialog.js
  packages/mcs-lite-ui/src/Dialog/Dialog.example.js
  packages/mcs-lite-ui/src/Dialog/Dialog.js
  packages/mcs-lite-ui/src/Panel/Panel.js
Owners: @evenchange4

feat(UI): add label and formGroup
  packages/mcs-lite-ui/src/FormGroup/FormGroup.example.js
  packages/mcs-lite-ui/src/FormGroup/FormGroup.js
  packages/mcs-lite-ui/src/FormGroup/index.js
  packages/mcs-lite-ui/src/Label/Label.example.js
  packages/mcs-lite-ui/src/Label/Label.js
  packages/mcs-lite-ui/src/Label/index.js
Owners: @evenchange4

delete
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

changepassword
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

work 2
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
  packages/mcs-lite-admin-web/src/utils/rxjs.js
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
  packages/react-intl-inject-hoc/src/withGetMessages.js
  yarn.lock
Owners: @evenchange4, @dariachen

add user
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

user init
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/DashboardLayout.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/messages.js
  packages/mcs-lite-admin-web/src/containers/User/Dialog.js
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
  packages/mcs-lite-admin-web/src/index.js
  packages/mcs-lite-admin-web/src/modules/index.js
  packages/mcs-lite-admin-web/src/modules/users.js
  packages/mcs-lite-admin-web/src/utils/rxjs.js
Owners: @evenchange4

put is active
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

feat(UI): extract UI validators
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
  packages/mcs-lite-mobile-web/src/containers/Password/Password.js
  packages/mcs-lite-ui/src/FormGroup/FormGroup.js
  packages/mcs-lite-ui/src/utils/__tests__/validators.test.js
  packages/mcs-lite-ui/src/utils/validators.js
Owners: @evenchange4

add pot
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @dariachen

batch create csv
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
  packages/mcs-lite-admin-web/src/modules/users.js
  packages/mcs-lite-ui/src/utils/emptyFunction.js
Owners: @evenchange4

update test
  packages/mcs-lite-admin-web/src/components/DialogConfirm/__tests__/__snapshots__/DialogConfirm.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/DashboardLayout.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
  packages/mcs-lite-ui/src/utils/emptyFunction.js
Owners: @evenchange4, @dariachen

update license
  docs/licenses.csv
Owners: @evenchange4

add test
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/User.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/index.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/messages.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/styled-components.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

feat(i18N): add translation for admin v2 feature.
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

feat(i18N): add translation for admin v2 feature. (#433)
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

update
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/setupTests.js
  packages/mcs-lite-ui/src/others/Icon.example.js
Owners: @evenchange4

update
  packages/mcs-lite-ui/src/A/A.example.js
Owners: @evenchange4

update test
  packages/mcs-lite-landing-web/src/containers/Section2/Image.js
Owners: @evenchange4

update
  docs/licenses.csv
  package.json
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Owners: @evenchange4

update spin
  packages/mcs-lite-ui/src/Button/Button.example.js
  packages/mcs-lite-ui/src/Spin/Spin.example.js
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
  packages/mcs-lite-ui/src/others/Icon.example.js
Owners: @evenchange4

fix(Admin): fix delete users cycle logic & add tests
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/service.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/system.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/users.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/service.test.js
  packages/mcs-lite-admin-web/src/modules/__tests__/system.test.js
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

fix(Admin): fix delete users cycle logic & add tests (#434)
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/service.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/system.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/users.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/service.test.js
  packages/mcs-lite-admin-web/src/modules/__tests__/system.test.js
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

chore(ncu): ncu update
  docs/licenses.csv
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(ncu): ncu update (#435)
  docs/licenses.csv
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

feat(Admin/Data): add DeleteData feature
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/DashboardLayout.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/DashboardLayout.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/messages.js
  packages/mcs-lite-admin-web/src/containers/Data/Data.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/Data.test.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/Data.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/index.test.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/messages.test.js
  packages/mcs-lite-admin-web/src/containers/Data/index.js
  packages/mcs-lite-admin-web/src/containers/Data/messages.js
  packages/mcs-lite-admin-web/src/index.js
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/data.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/auth.test.js
  packages/mcs-lite-admin-web/src/modules/__tests__/data.test.js
  packages/mcs-lite-admin-web/src/modules/auth.js
  packages/mcs-lite-admin-web/src/modules/data.js
  packages/mcs-lite-admin-web/src/modules/index.js
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @evenchange4, @dariachen

feat(Admin/Data): add DeleteData feature (#436)
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/DashboardLayout.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/DashboardLayout.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/messages.js
  packages/mcs-lite-admin-web/src/containers/Data/Data.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/Data.test.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/Data.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/index.test.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/messages.test.js
  packages/mcs-lite-admin-web/src/containers/Data/index.js
  packages/mcs-lite-admin-web/src/containers/Data/messages.js
  packages/mcs-lite-admin-web/src/index.js
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/data.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/auth.test.js
  packages/mcs-lite-admin-web/src/modules/__tests__/data.test.js
  packages/mcs-lite-admin-web/src/modules/auth.js
  packages/mcs-lite-admin-web/src/modules/data.js
  packages/mcs-lite-admin-web/src/modules/index.js
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @evenchange4, @dariachen

chore(lerna): update to 2.1.0
  docs/licenses.csv
  package.json
  yarn.lock
Owners: @evenchange4

update
  lerna.json
Owners: @evenchange4

chore(lerna): update to 2.1.0 (#437)
  docs/licenses.csv
  lerna.json
  package.json
  yarn.lock
Owners: @evenchange4

feat(content): translation and update introduction.
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

test(Admin/Mobile): add css snapshot testing
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/components/DashboardDesc/__tests__/__snapshots__/DashboardDesc.test.js.snap
  packages/mcs-lite-admin-web/src/components/LocaleFooter/__tests__/LocaleFooter.test.js
  packages/mcs-lite-admin-web/src/components/LocaleFooter/__tests__/__snapshots__/LocaleFooter.test.js.snap
  packages/mcs-lite-admin-web/src/components/Logo/__tests__/__snapshots__/Logo.test.js.snap
  packages/mcs-lite-admin-web/src/containers/App/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/Data.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/Data.test.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/Data.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Ip/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Signin/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/setupTests.js
  packages/mcs-lite-admin-web/src/utils/MockProvider.js
  packages/mcs-lite-admin-web/src/utils/recomposeHelper.js
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-mobile-web/src/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/mcs-lite-mobile-web/src/components/Logo/__tests__/__snapshots__/Logo.test.js.snap
  packages/mcs-lite-mobile-web/src/components/StyledLink/__tests__/__snapshots__/StyledLink.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Account/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/App/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelTimeRange/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDetail/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDetailInfo/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceList/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTrigger/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTriggerEdit/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Password/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Signin/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/setupTests.js
Owners: @evenchange4

test(Admin/Mobile): add css snapshot testing (#439)
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/components/DashboardDesc/__tests__/__snapshots__/DashboardDesc.test.js.snap
  packages/mcs-lite-admin-web/src/components/LocaleFooter/__tests__/LocaleFooter.test.js
  packages/mcs-lite-admin-web/src/components/LocaleFooter/__tests__/__snapshots__/LocaleFooter.test.js.snap
  packages/mcs-lite-admin-web/src/components/Logo/__tests__/__snapshots__/Logo.test.js.snap
  packages/mcs-lite-admin-web/src/containers/App/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/Data.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/Data.test.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/Data.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Ip/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Signin/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/setupTests.js
  packages/mcs-lite-admin-web/src/utils/MockProvider.js
  packages/mcs-lite-admin-web/src/utils/recomposeHelper.js
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-mobile-web/src/components/Layout/__tests__/__snapshots__/Layout.test.js.snap
  packages/mcs-lite-mobile-web/src/components/Logo/__tests__/__snapshots__/Logo.test.js.snap
  packages/mcs-lite-mobile-web/src/components/StyledLink/__tests__/__snapshots__/StyledLink.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Account/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/App/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelTimeRange/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDetail/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDetailInfo/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceList/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTrigger/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTriggerEdit/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Password/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Signin/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/setupTests.js
Owners: @evenchange4

feat(content): translation and update introduction. (#438)
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

test(Admin): add more tests for container
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/DashboardLayout.test.js
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/Language.test.js
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/__snapshots__/Language.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Signup/__tests__/Signup.test.js
  packages/mcs-lite-admin-web/src/containers/Signup/__tests__/__snapshots__/Signup.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/System.js
  packages/mcs-lite-admin-web/src/containers/System/__tests__/System.test.js
  packages/mcs-lite-admin-web/src/containers/System/__tests__/__snapshots__/System.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/__tests__/styled-components.test.js
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/User.test.js.snap
  packages/mcs-lite-admin-web/src/utils/__tests__/__snapshots__/recomposeHelper.test.js.snap
  packages/mcs-lite-admin-web/src/utils/__tests__/recomposeHelper.test.js
  packages/mcs-lite-admin-web/src/utils/recomposeHelper.js
Owners: @evenchange4

test
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/User.test.js.snap
Owners: @evenchange4

update eslint
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
Owners: @evenchange4

update
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/DashboardLayout.test.js
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/Language.test.js
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/__snapshots__/Language.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
Owners: @evenchange4

test(Admin): add more tests for container (#440)
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/DashboardLayout.test.js
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/Language.test.js
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/__snapshots__/Language.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Signup/__tests__/Signup.test.js
  packages/mcs-lite-admin-web/src/containers/Signup/__tests__/__snapshots__/Signup.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/System.js
  packages/mcs-lite-admin-web/src/containers/System/__tests__/System.test.js
  packages/mcs-lite-admin-web/src/containers/System/__tests__/__snapshots__/System.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/__tests__/styled-components.test.js
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/User.test.js.snap
  packages/mcs-lite-admin-web/src/utils/__tests__/__snapshots__/recomposeHelper.test.js.snap
  packages/mcs-lite-admin-web/src/utils/__tests__/recomposeHelper.test.js
  packages/mcs-lite-admin-web/src/utils/recomposeHelper.js
Owners: @evenchange4

chore(ncu): update react-snapshot
  docs/licenses.csv
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002
