Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

chore(deps): pin dependency eslint-plugin-flowtype to v2.46.3
  package.json
  yarn.lock
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): release
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

chore(deps): pin node docker tag
  .circleci/config.yml
Owners: @evenchange4

fix(ui): table th font-weight
  packages/mcs-lite-ui/src/Table/Table.js
  packages/mcs-lite-ui/src/Table/__snapshots__/Table.example.storyshot
Owners: @evenchange4

fix(ui): table th font-weight
  packages/mcs-lite-ui/src/Table/Table.js
  packages/mcs-lite-ui/src/Table/__snapshots__/Table.example.storyshot
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): add bumped versions & format
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

chore(deps): update dependency codecov to v3.0.1
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency danger to v3.6.5
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency babel-core to v6.26.3
  packages/babel-preset-mcs-lite/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency eslint-plugin-jest to v21.15.1
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency flow-bin to v0.71.0
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency license-checker to v18.1.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency history to v4
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react-router to v4
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

fix(deps): update dependency react-cookie to v2
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency lint-staged to v7.1.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react-intl-po to v2.2.2
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-translation/package.json
  yarn.lock
Owners: @evenchange4, @dariachen

chore(deps): update storybook monorepo to v3.4.3
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency license-checker to v19
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update node:9.11.1 docker digest to e9311a
  .circleci/config.yml
Owners: @evenchange4

chore(deps): update dependency codecov to v3.0.2
  package.json
  yarn.lock
Owners: @evenchange4

fix(ui): tooltip background color override problem
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/__snapshots__/RestartNotification.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__snapshots__/DataChannelAdapter.example.storyshot
  packages/mcs-lite-ui/src/DataChannelCard/DataChannelCard.js
  packages/mcs-lite-ui/src/DataChannelCard/__snapshots__/DataChannelCard.example.storyshot
  packages/mcs-lite-ui/src/DataPointAreaChart/RechartTooltip.js
  packages/mcs-lite-ui/src/DataPointAreaChart/__snapshots__/DataPointAreaChart.example.storyshot
  packages/mcs-lite-ui/src/Menu/Menu.js
  packages/mcs-lite-ui/src/Menu/__snapshots__/Menu.example.storyshot
  packages/mcs-lite-ui/src/MobileDeviceCard/MobileDeviceCard.js
  packages/mcs-lite-ui/src/MobileDeviceCard/__snapshots__/MobileDeviceCard.example.storyshot
  packages/mcs-lite-ui/src/Popover/Popover.js
  packages/mcs-lite-ui/src/Toast/Toast.js
  packages/mcs-lite-ui/src/Toast/__snapshots__/Toast.example.storyshot
  packages/mcs-lite-ui/src/Tooltip/Tooltip.js
  packages/mcs-lite-ui/src/others/Icon.example.js
Owners: @evenchange4

fix(ui): tooltip background color override problem (#632)
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/__snapshots__/RestartNotification.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__snapshots__/DataChannelAdapter.example.storyshot
  packages/mcs-lite-ui/src/DataChannelCard/DataChannelCard.js
  packages/mcs-lite-ui/src/DataChannelCard/__snapshots__/DataChannelCard.example.storyshot
  packages/mcs-lite-ui/src/DataPointAreaChart/RechartTooltip.js
  packages/mcs-lite-ui/src/DataPointAreaChart/__snapshots__/DataPointAreaChart.example.storyshot
  packages/mcs-lite-ui/src/Menu/Menu.js
  packages/mcs-lite-ui/src/Menu/__snapshots__/Menu.example.storyshot
  packages/mcs-lite-ui/src/MobileDeviceCard/MobileDeviceCard.js
  packages/mcs-lite-ui/src/MobileDeviceCard/__snapshots__/MobileDeviceCard.example.storyshot
  packages/mcs-lite-ui/src/Popover/Popover.js
  packages/mcs-lite-ui/src/Toast/Toast.js
  packages/mcs-lite-ui/src/Toast/__snapshots__/Toast.example.storyshot
  packages/mcs-lite-ui/src/Tooltip/Tooltip.js
  packages/mcs-lite-ui/src/others/Icon.example.js
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

Pin dependency react-intl-cra to v0.3.3
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

Update dependency history to v4
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

Update dependency react-cookie to v2
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

Update dependency react-router to v4
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency flow-bin to v0.72.0
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency danger to v3.6.6
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update storybook monorepo to v3.4.4
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

feat(icon): add 8 new icons
  packages/mcs-lite-design/src/icon/icon_data.svg
  packages/mcs-lite-design/src/icon/icon_data_usage.svg
  packages/mcs-lite-design/src/icon/icon_export.svg
  packages/mcs-lite-design/src/icon/icon_notification.svg
  packages/mcs-lite-design/src/icon/icon_on_premise.svg
  packages/mcs-lite-design/src/icon/icon_richer_trigger_rules.svg
  packages/mcs-lite-design/src/icon/icon_scene.svg
  packages/mcs-lite-design/src/icon/icon_unlimited.svg
Owners: @abby1002

feat(icon): add 8 new icons (#641)
  packages/mcs-lite-design/src/icon/icon_data.svg
  packages/mcs-lite-design/src/icon/icon_data_usage.svg
  packages/mcs-lite-design/src/icon/icon_export.svg
  packages/mcs-lite-design/src/icon/icon_notification.svg
  packages/mcs-lite-design/src/icon/icon_on_premise.svg
  packages/mcs-lite-design/src/icon/icon_richer_trigger_rules.svg
  packages/mcs-lite-design/src/icon/icon_scene.svg
  packages/mcs-lite-design/src/icon/icon_unlimited.svg
Owners: @abby1002

feat(CHANGELOG): release
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): add bumped versions & format
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002
