Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

chore(ncu): update react-snapshot (#441)
  docs/licenses.csv
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

docs(CHANGELOG): update
  CHANGELOG.md
Owners: @evenchange4

fix(Admin): wrong body format of delete user
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

fix(Admin): wrong body format of delete user (#442)
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

New icon
  packages/mcs-lite-design/src/icon/icon_edit.svg
Owners: @abby1002

feat(Icon): add new Edit icon (#443)
  packages/mcs-lite-design/src/icon/icon_edit.svg
Owners: @abby1002

fix(Admin): doont refetch after users delete
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/users.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
  packages/mcs-lite-admin-web/src/utils/helpers.js
  packages/mcs-lite-mobile-web/src/utils/helpers.js
Owners: @evenchange4

fix(Admin/UI): update style
  packages/mcs-lite-admin-web/src/components/DialogConfirm/DialogConfirm.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
Owners: @evenchange4

fix UI
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-ui/src/FormGroup/FormGroup.js
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
Owners: @evenchange4

fix(Admin): update change isActive cycle logic
  packages/mcs-lite-admin-web/src/components/DialogConfirm/DialogConfirm.js
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/users.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

fix(Admin): do not refetch after users delete (#444)
  packages/mcs-lite-admin-web/src/components/DialogConfirm/DialogConfirm.js
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/users.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
  packages/mcs-lite-admin-web/src/utils/helpers.js
  packages/mcs-lite-mobile-web/src/utils/helpers.js
  packages/mcs-lite-ui/src/FormGroup/FormGroup.js
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
Owners: @evenchange4

chore(ncu): ncu update
  docs/licenses.csv
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

update
  .flowconfig
  flow-typed/npm/eslint-plugin-react_vx.x.x.js
  flow-typed/npm/lerna_vx.x.x.js
  flow-typed/npm/license-checker_vx.x.x.js
Owners: @evenchange4

chore(ncu): ncu update (#445)
  .flowconfig
  docs/licenses.csv
  flow-typed/npm/eslint-plugin-react_vx.x.x.js
  flow-typed/npm/lerna_vx.x.x.js
  flow-typed/npm/license-checker_vx.x.x.js
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

docs(Intro): cra
  packages/mcs-lite-introduction/zh-tw/mcs_lite_customization/cra_boilerplate.md
Owners: @dariachen

update cra-boilerplate introduction.
  packages/mcs-lite-introduction/zh-tw/mcs_lite_customization/cra_boilerplate.md
Owners: @dariachen

update SUMMARY and cra-boilerplate.
  packages/mcs-lite-introduction/zh-tw/SUMMARY.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_customization/cra_boilerplate.md
Owners: @dariachen

shorten the article title.
  packages/mcs-lite-introduction/zh-tw/SUMMARY.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_customization/cra_boilerplate.md
Owners: @dariachen

chore(ncu): update helmet & lerna
  lerna.json
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/containers/App/__tests__/__snapshots__/App.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/Data.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Ip/__tests__/__snapshots__/Ip.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/__snapshots__/Language.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Signin/__tests__/__snapshots__/Signin.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Signup/__tests__/__snapshots__/Signup.test.js.snap
  packages/mcs-lite-admin-web/src/containers/System/__tests__/__snapshots__/System.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/User.test.js.snap
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/containers/App/__tests__/__snapshots__/App.test.js.snap
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-mobile-web/src/containers/Account/__tests__/__snapshots__/Account.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/App/__tests__/__snapshots__/App.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/__tests__/__snapshots__/DeviceDataChannelDetail.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelTimeRange/__tests__/__snapshots__/DeviceDataChannelTimeRange.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDetail/__tests__/__snapshots__/DeviceDetail.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceDetailInfo/__tests__/__snapshots__/DeviceDetailInfo.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceList/__tests__/__snapshots__/DeviceList.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTrigger/__tests__/__snapshots__/DeviceTrigger.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTriggerEdit/__tests__/__snapshots__/DeviceTriggerEdit.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Password/__tests__/__snapshots__/Password.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Signin/__tests__/__snapshots__/Signin.test.js.snap
  yarn.lock
Owners: @evenchange4

update license
  docs/licenses.csv
Owners: @evenchange4

update test
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/setupTests.js
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/ANALOG_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/CATEGORY_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/CATEGORY_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/FLOAT_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/FLOAT_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/GPIO_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/GPIO_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/HEX_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/HEX_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/INTEGER_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/INTEGER_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/PWM_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/PWM_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/STRING_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/STRING_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/SWITCH_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/SWITCH_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DatetimePickerDialog/__tests__/__snapshots__/DatetimePickerDialog.test.js.snap
  packages/mcs-lite-ui/src/__tests__/Storyshots.test.js
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
Owners: @evenchange4

update zh-cn and en version.
  packages/mcs-lite-introduction/en/SUMMARY.md
  packages/mcs-lite-introduction/en/mcs_lite_customization/cra_boilerplate.md
  packages/mcs-lite-introduction/zh-cn/SUMMARY.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_customization/cra_boilerplate.md
Owners: @dariachen

docs(Intro): add cra-boilerplate introduction. (#446)
  packages/mcs-lite-introduction/en/SUMMARY.md
  packages/mcs-lite-introduction/en/mcs_lite_customization/cra_boilerplate.md
  packages/mcs-lite-introduction/zh-cn/SUMMARY.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_customization/cra_boilerplate.md
  packages/mcs-lite-introduction/zh-tw/SUMMARY.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_customization/cra_boilerplate.md
Owners: @dariachen

chore(ncu): update danger to 2
  dangerfile.js
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

update
  package.json
  yarn.lock
Owners: @evenchange4

update
  packages/mcs-lite-admin-web/src/utils/helpers.js
  packages/mcs-lite-mobile-web/src/utils/helpers.js
Owners: @evenchange4

update
  docs/licenses.csv
  packages/mcs-lite-admin-web/src/store/configureStore.js
  packages/mcs-lite-mobile-web/src/store/configureStore.js
  yarn.lock
Owners: @evenchange4

work 1
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/modules/users.js
  yarn.lock
Owners: @evenchange4

work 2 - file
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

fix(Admin/Use): post with CSV content
  docs/licenses.csv
  packages/mcs-lite-admin-web/src/modules/users.js
Owners: @evenchange4

update test
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
Owners: @evenchange4

fix(Admin/Use): post with CSV content (#449)
  docs/licenses.csv
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/modules/__tests__/users.test.js
  packages/mcs-lite-admin-web/src/modules/users.js
  yarn.lock
Owners: @evenchange4

fix(Admin/User): update input file style
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/styled-components.test.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
Owners: @evenchange4

fix(Admin/User): update input file style (#450)
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/styled-components.test.js
  packages/mcs-lite-admin-web/src/containers/User/styled-components.js
Owners: @evenchange4

feature(intro): add MySQL introduction for zh-tw.
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
Owners: @dariachen

feature(intro): add introduction for MySQL.
  packages/mcs-lite-introduction/en/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
Owners: @dariachen

feat(Admin): table sort
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
Owners: @evenchange4

feat(Admin): table sort (#451)
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
Owners: @evenchange4

feat(Admin): add email async validation
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/User.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/index.test.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/utils/__tests__/checkUserAvalableAPI.test.js
  packages/mcs-lite-admin-web/src/utils/checkUserAvalableAPI.js
  packages/mcs-lite-admin-web/src/utils/rxjs.js
Owners: @evenchange4

update
  packages/mcs-lite-admin-web/src/containers/User/__tests__/index.test.js
Owners: @evenchange4

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002
