Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002

chore(deps): update dependency danger to v3.1.1
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency eslint to v4.16.0
  package.json
  yarn.lock
Owners: @evenchange4

fix(dependency): pinOnlyDevDependencies
  renovate.json
Owners: @evenchange4

chore(deps): update dependency enzyme-to-json to v3.3.1
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency danger to v3.1.3
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency lerna to v2.8.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency lint-staged to v6.0.1
  package.json
  yarn.lock
Owners: @evenchange4

fix(deps): update dependency babel-plugin-styled-components to v1.5.0
  packages/babel-preset-mcs-lite/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react-virtualized to v9.18.0
  packages/mcs-lite-admin-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react-intl-po to v2.1.3
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-translation/package.json
  yarn.lock
Owners: @evenchange4, @dariachen

chore(deps): update dependency flow-bin to v0.64.0
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency @cycle/http to v14.9.0
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update storybook monorepo packages
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react to ^16.0.0
  packages/mcs-lite-icon/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4

chore(deps): update dependency react-progressive-bg-image to v2.1.3
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency eslint-plugin-react to v7.6.0
  package.json
  yarn.lock
Owners: @evenchange4

fix(deps): update dependency react-syntax-highlighter to v7.0.0
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

fix(dependency): pinOnlyDevDependencies
  lerna.json
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
  yarn.lock
Owners: @evenchange4, @dariachen

update
  docs/licenses.csv
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

fix(dependency): pinOnlyDevDependencies (#536)
  docs/licenses.csv
  lerna.json
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
  yarn.lock
Owners: @evenchange4, @dariachen

chore(deps): update dependency babel-cli to v6.26.0
  packages/react-intl-inject-hoc/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency babel-eslint to ^8.0.0
  packages/eslint-config-mcs-lite/package.json
Owners: @evenchange4

Update package.json
  packages/mcs-lite-icon/package.json
Owners: @evenchange4

Update package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4

chore(deps): update dependency eslint to ^4.0.0
  packages/eslint-config-mcs-lite/package.json
Owners: @evenchange4

chore(deps): update dependency eslint-plugin-jest to ^21.0.0
  packages/eslint-config-mcs-lite/package.json
Owners: @evenchange4

chore(deps): update dependency validator to v9.3.0
  packages/mcs-lite-admin-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency eslint-plugin-jsx-a11y to ^6.0.0
  packages/eslint-config-mcs-lite/package.json
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @dariachen

docs(CHANGELOG): release
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @dariachen

chore(deps): update dependency lint-staged to v6.1.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update storybook monorepo packages
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency eslint-plugin-react to v7.6.1
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency redux-mock-store to v1.5.1
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency styled-components to ^3.0.1
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency validator to v9.4.0
  packages/mcs-lite-admin-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency svgo to v1.0.4
  packages/mcs-lite-design/package.json
  yarn.lock
Owners: @abby1002, @evenchange4

chore(deps): update dependency react-progressive-bg-image to v3.0.0
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-introduction/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen
