Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

update
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @dariachen

feat(Admin): add email async validation (#452)
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/User.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/index.test.js
  packages/mcs-lite-admin-web/src/containers/User/index.js
  packages/mcs-lite-admin-web/src/containers/User/messages.js
  packages/mcs-lite-admin-web/src/utils/__tests__/checkUserAvalableAPI.test.js
  packages/mcs-lite-admin-web/src/utils/checkUserAvalableAPI.js
  packages/mcs-lite-admin-web/src/utils/rxjs.js
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @evenchange4, @dariachen

feat(Landing): introduce micro-github-latest service for downloading the latest app
  packages/mcs-lite-landing-web/src/components/DownloadButton/DownloadButton.js
  packages/mcs-lite-landing-web/src/components/DownloadButton/__tests__/DownloadButton.test.js
  packages/mcs-lite-landing-web/src/components/DownloadButton/__tests__/__snapshots__/DownloadButton.test.js.snap
  packages/mcs-lite-landing-web/src/containers/App/App.js
  packages/mcs-lite-landing-web/src/containers/App/__tests__/__snapshots__/App.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/Section1.js
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/Section1.test.js
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Section1.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/Section5.js
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/Section5.test.js
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Section5.test.js.snap
Owners: @evenchange4

feat(Landing): introduce micro-github-latest service for downloading the latest app (#453)
  packages/mcs-lite-landing-web/src/components/DownloadButton/DownloadButton.js
  packages/mcs-lite-landing-web/src/components/DownloadButton/__tests__/DownloadButton.test.js
  packages/mcs-lite-landing-web/src/components/DownloadButton/__tests__/__snapshots__/DownloadButton.test.js.snap
  packages/mcs-lite-landing-web/src/containers/App/App.js
  packages/mcs-lite-landing-web/src/containers/App/__tests__/__snapshots__/App.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/Section1.js
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/Section1.test.js
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Section1.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/Section5.js
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/Section5.test.js
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Section5.test.js.snap
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-introduction/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-cra/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

feat(intro): Add MySQL description.
  packages/mcs-lite-introduction/assets/mcs_lite_architecture_en.png
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/en/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_architecture.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
Owners: @dariachen

feat(intro): Add MySQL description. (#455)
  packages/mcs-lite-introduction/assets/mcs_lite_architecture_en.png
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/en/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_architecture.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
Owners: @dariachen

New favicon
  packages/mcs-lite-design/src/logo/favicon_mcs_lite.png
Owners: @abby1002

update
  packages/mcs-lite-admin-web/public/images/favicon.ico
  packages/mcs-lite-landing-web/public/images/favicon.ico
  packages/mcs-lite-mobile-web/public/images/favicon.ico
Owners: @evenchange4

update
  packages/mcs-lite-admin-web/public/images/favicon.ico
  packages/mcs-lite-design/src/logo/favicon.ico
  packages/mcs-lite-landing-web/public/images/favicon.ico
  packages/mcs-lite-mobile-web/public/images/favicon.ico
Owners: @evenchange4, @abby1002

feat(Design): update favicon (#456)
  packages/mcs-lite-admin-web/public/images/favicon.ico
  packages/mcs-lite-design/src/logo/favicon.ico
  packages/mcs-lite-design/src/logo/favicon_mcs_lite.png
  packages/mcs-lite-landing-web/public/images/favicon.ico
  packages/mcs-lite-mobile-web/public/images/favicon.ico
Owners: @evenchange4, @abby1002

fix(UI/Storybook): Error when clicking on the menu item on React 16
  packages/mcs-lite-ui/.storybook/config.js
Owners: @evenchange4

fix(UI/Storybook): Error when clicking on the menu item on React 16 (#457)
  packages/mcs-lite-ui/.storybook/config.js
Owners: @evenchange4

feat(Admin): restart required after user updating
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/components/RestartNotification/RestartNotification.js
  packages/mcs-lite-admin-web/src/components/RestartNotification/index.js
  packages/mcs-lite-admin-web/src/components/RestartNotification/messages.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/DashboardLayout.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/index.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/messages.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/styled-components.js
  packages/mcs-lite-admin-web/src/containers/User/Table.js
  packages/mcs-lite-admin-web/src/modules/auth.js
  packages/mcs-lite-admin-web/src/modules/service.js
  packages/mcs-lite-admin-web/src/modules/ui.js
  packages/mcs-lite-admin-web/src/store/configureStore.js
  yarn.lock
Owners: @evenchange4

service module
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/service.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/service.test.js
  packages/mcs-lite-admin-web/src/modules/service.js
Owners: @evenchange4

ui
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/ui.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/ui.test.js
  packages/mcs-lite-admin-web/src/modules/ui.js
  packages/mcs-lite-admin-web/src/utils/helpers.js
Owners: @evenchange4

update
  packages/mcs-lite-admin-web/src/components/RestartNotification/RestartNotification.js
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/RestartNotification.test.js
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/__snapshots__/RestartNotification.test.js.snap
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/messages.test.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/DashboardLayout.test.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/DashboardLayout.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/__tests__/index.test.js
  packages/mcs-lite-admin-web/src/containers/DashboardLayout/index.js
  packages/mcs-lite-admin-web/src/containers/Language/__tests__/__snapshots__/Language.test.js.snap
  packages/mcs-lite-admin-web/src/containers/User/__tests__/Table.test.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/__snapshots__/Table.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/auth.test.js
  packages/mcs-lite-admin-web/src/modules/__tests__/ui.test.js
  packages/mcs-lite-admin-web/src/modules/ui.js
  packages/mcs-lite-admin-web/src/setupTests.js
  packages/mcs-lite-admin-web/src/utils/helpers.js
Owners: @evenchange4

docs
  docs/licenses.csv
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @evenchange4, @dariachen

update test
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/Header.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/Account/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTrigger/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/src/containers/DeviceTriggerEdit/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/CATEGORY_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/FLOAT_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/GPIO_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/HEX_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/INTEGER_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/STRING_CONTROL.test.js.snap
  packages/mcs-lite-ui/src/DataChannelAdapter/__tests__/__snapshots__/SWITCH_DISPLAY.test.js.snap
  packages/mcs-lite-ui/src/DatetimePickerDialog/__tests__/__snapshots__/DatetimePickerDialog.test.js.snap
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
Owners: @evenchange4

fix
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/system.test.js.snap
  packages/mcs-lite-admin-web/src/modules/auth.js
  packages/mcs-lite-admin-web/src/modules/service.js
  packages/mcs-lite-admin-web/src/modules/system.js
  packages/mcs-lite-admin-web/src/modules/ui.js
  packages/mcs-lite-admin-web/src/modules/users.js
  packages/mcs-lite-mobile-web/src/modules/auth.js
Owners: @evenchange4

update
  .flowconfig
  packages/mcs-lite-admin-web/src/components/RestartNotification/RestartNotification.js
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/RestartNotification.test.js
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/__snapshots__/RestartNotification.test.js.snap
Owners: @evenchange4

update
  packages/mcs-lite-admin-web/src/components/RestartNotification/RestartNotification.js
  packages/mcs-lite-admin-web/src/components/RestartNotification/__tests__/__snapshots__/RestartNotification.test.js.snap
Owners: @evenchange4

update
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/src/utils/react-hammerjs.js
  yarn.lock
Owners: @evenchange4

fix landing
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/src/containers/Section1/Chart.js
  packages/mcs-lite-landing-web/src/containers/Section3/styled-components.js
  packages/mcs-lite-landing-web/src/containers/Section4/ImageCustom.js
  packages/mcs-lite-landing-web/src/containers/Section4/ImageOpenSource.js
  packages/mcs-lite-landing-web/src/containers/Section5/Image.js
  yarn.lock
Owners: @evenchange4

#459
  packages/mcs-lite-admin-web/src/containers/App/App.js
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/src/utils/react-topbar-progress-indicator.js
Owners: @evenchange4

update
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/components/Header/Header.js
  packages/mcs-lite-landing-web/src/components/Header/styled-components.js
  packages/mcs-lite-landing-web/src/containers/Section1/Image.js
  packages/mcs-lite-landing-web/src/index.js
  yarn.lock
Owners: @evenchange4

update landing
  packages/mcs-lite-landing-web/src/components/Header/__tests__/Header.test.js
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/Header.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/Image.test.js
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Image.test.js.snap
Owners: @evenchange4

update
  packages/babel-preset-mcs-lite/__tests__/__snapshots__/mcs-lite-icon.test.js.snap
  packages/babel-preset-mcs-lite/__tests__/__snapshots__/mcs-lite-ui.test.js.snap
  packages/babel-preset-mcs-lite/__tests__/__snapshots__/ramda.test.js.snap
  packages/babel-preset-mcs-lite/__tests__/__snapshots__/recompose.test.js.snap
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

license
  docs/licenses.csv
Owners: @evenchange4

feat(Admin/Data): prompt restart when clear success
  packages/mcs-lite-admin-web/src/containers/Data/Data.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/messages.js
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/data.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/data.test.js
  packages/mcs-lite-admin-web/src/modules/data.js
  packages/mcs-lite-admin-web/src/modules/ui.js
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @evenchange4, @dariachen

feat(Admin/Data): prompt restart when clear success (#464)
  packages/mcs-lite-admin-web/src/containers/Data/Data.js
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/messages.js
  packages/mcs-lite-admin-web/src/modules/__tests__/__snapshots__/data.test.js.snap
  packages/mcs-lite-admin-web/src/modules/__tests__/data.test.js
  packages/mcs-lite-admin-web/src/modules/data.js
  packages/mcs-lite-admin-web/src/modules/ui.js
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
Owners: @evenchange4, @dariachen

chore(Landing): update rc-scroll-anim 2.0
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

chore(Landing): update rc-scroll-anim 2.0 (#465)
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

feature(intro): add how to termincate lite application instruction.
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
Owners: @dariachen

doc(intro): add images for application termination.
  packages/mcs-lite-introduction/assets/mcs_lite_system_tray_mac.png
  packages/mcs-lite-introduction/assets/mcs_lite_system_tray_windows.png
Owners: @dariachen

doc(intro): add description for user, data management and application termination.
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/en/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
Owners: @dariachen

L10N(Admin): Update translation strings.
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

feature(intro): add how to termincate lite application instruction (#466)
  packages/mcs-lite-introduction/assets/mcs_lite_system_tray_mac.png
  packages/mcs-lite-introduction/assets/mcs_lite_system_tray_windows.png
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/en/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002
