Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

chore(npm): ncu update & verify react-intl-po
  docs/licenses.csv
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/components/BackgroundImage/__tests__/__snapshots__/BackgroundImage.test.js.snap
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/Header.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/components/SectionRow/__tests__/__snapshots__/SectionRow.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Chart.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section3/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageCustom.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageOpenSource.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-landing-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-mobile-web/messages.pot
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Owners: @evenchange4, @dariachen

chore(npm): ncu update & verify react-intl-po (#423)
  docs/licenses.csv
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/components/BackgroundImage/__tests__/__snapshots__/BackgroundImage.test.js.snap
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/Header.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/components/SectionRow/__tests__/__snapshots__/SectionRow.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Chart.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section3/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageCustom.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageOpenSource.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-landing-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-mobile-web/messages.pot
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Owners: @evenchange4, @dariachen

feat(intro): update signup description.
  packages/mcs-lite-introduction/LANGS.md
  packages/mcs-lite-introduction/assets/mcs_lite_admin_signup.png
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/en/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
Owners: @dariachen

feat(intro): update signup description. (#425)
  packages/mcs-lite-introduction/LANGS.md
  packages/mcs-lite-introduction/assets/mcs_lite_admin_signup.png
  packages/mcs-lite-introduction/en/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/en/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-cn/mcs_lite_usage/mcs_lite_admin_usage.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_intro/mcs_lite_intro.md
  packages/mcs-lite-introduction/zh-tw/mcs_lite_usage/mcs_lite_admin_usage.md
Owners: @dariachen

fix(intro): incorrect bullets.
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
Owners: @dariachen

Feature/introduction new content (#426)
  packages/mcs-lite-introduction/zh-cn/mcs_lite_intro/mcs_lite_intro.md
Owners: @dariachen

chore(CircleCI): update to 2.0 workflow
  .circleci/config.yml
  .travis.yml
  README.md
  circle.yml
  tasks/test.sh
Owners: @evenchange4

update guide
  docs/README.md
Owners: @evenchange4

try
  .circleci/config.yml
Owners: @evenchange4

try2
  .circleci/config.yml
Owners: @evenchange4

update 3
  .circleci/config.yml
Owners: @evenchange4

fix
  .circleci/config.yml
Owners: @evenchange4

ignore
  .flowconfig
  .gitignore
  .linterignore
Owners: @evenchange4

fix 2
  .flowconfig
Owners: @evenchange4

chore(CI): upgrade circle ci to 2.0 (#424)
  .circleci/config.yml
  .flowconfig
  .gitignore
  .linterignore
  .travis.yml
  README.md
  circle.yml
  docs/README.md
  tasks/test.sh
Owners: @evenchange4

chore(ncu): update
  docs/licenses.csv
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

update snapshot
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/Header.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
Owners: @evenchange4

chore(CircleCI): remove large files
  .circleci/config.yml
Owners: @evenchange4

update
  .circleci/config.yml
Owners: @evenchange4

update flow
  flow-typed/npm/babel-eslint_vx.x.x.js
  flow-typed/npm/codecov_vx.x.x.js
  flow-typed/npm/danger_vx.x.x.js
  flow-typed/npm/eslint-config-airbnb_vx.x.x.js
  flow-typed/npm/eslint-config-prettier_vx.x.x.js
  flow-typed/npm/eslint-plugin-import_vx.x.x.js
  flow-typed/npm/eslint-plugin-jest_vx.x.x.js
  flow-typed/npm/eslint-plugin-jsx-a11y_vx.x.x.js
  flow-typed/npm/eslint-plugin-prettier_vx.x.x.js
  flow-typed/npm/eslint-plugin-react_vx.x.x.js
  flow-typed/npm/eslint_vx.x.x.js
  flow-typed/npm/lerna-changelog_vx.x.x.js
  flow-typed/npm/lerna_vx.x.x.js
  flow-typed/npm/license-checker_vx.x.x.js
  flow-typed/npm/prettier_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
Owners: @evenchange4

chore(ncu): update & optimize circle ci(#427)
  .circleci/config.yml
  docs/licenses.csv
  flow-typed/npm/babel-eslint_vx.x.x.js
  flow-typed/npm/codecov_vx.x.x.js
  flow-typed/npm/danger_vx.x.x.js
  flow-typed/npm/eslint-config-airbnb_vx.x.x.js
  flow-typed/npm/eslint-config-prettier_vx.x.x.js
  flow-typed/npm/eslint-plugin-import_vx.x.x.js
  flow-typed/npm/eslint-plugin-jest_vx.x.x.js
  flow-typed/npm/eslint-plugin-jsx-a11y_vx.x.x.js
  flow-typed/npm/eslint-plugin-prettier_vx.x.x.js
  flow-typed/npm/eslint-plugin-react_vx.x.x.js
  flow-typed/npm/eslint_vx.x.x.js
  flow-typed/npm/lerna-changelog_vx.x.x.js
  flow-typed/npm/lerna_vx.x.x.js
  flow-typed/npm/license-checker_vx.x.x.js
  flow-typed/npm/prettier_vx.x.x.js
  flow-typed/npm/stylelint_vx.x.x.js
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/Header.test.js.snap
  packages/mcs-lite-landing-web/src/components/Header/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  packages/mcs-lite-ui/src/__tests__/__snapshots__/Storyshots.test.js.snap
  yarn.lock
Owners: @evenchange4

chore(travis): jobs
  .nvmrc
  .travis.yml
Owners: @evenchange4

update
  .circleci/config.yml
  .travis.yml
  tasks/lint.sh
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

update
  .travis.yml
  README.md
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

update
  .travis.yml
Owners: @evenchange4

fix(env): update ci cd configs
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  tasks/lint.sh
Owners: @evenchange4

fix(env): update ci cd configs (#429)
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  tasks/lint.sh
Owners: @evenchange4

fix(Mobile): add support for wss SSL protocol
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/index.js
  packages/mcs-lite-mobile-web/src/containers/DeviceDetail/index.js
Owners: @evenchange4

fix(Mobile): add support for wss SSL protocol (#430)
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/index.js
  packages/mcs-lite-mobile-web/src/containers/DeviceDetail/index.js
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-introduction/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
  packages/stylelint-config-mcs-lite/package.json
Owners: @evenchange4, @dariachen

docs(CHANGELOG): add bumped versions
  CHANGELOG.md
Owners: @evenchange4

feat(UI): extract common dialog
  packages/mcs-lite-admin-web/src/components/DialogConfirm/DialogConfirm.js
  packages/mcs-lite-ui/src/Dialog/CommonDialog.js
  packages/mcs-lite-ui/src/Dialog/Dialog.example.js
  packages/mcs-lite-ui/src/FormGroup/FormGroup.js
Owners: @evenchange4

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002
