Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

chore(deps): update dependency styled-components to v3.2.3
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency eslint-plugin-jest to v21.15.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency flow-bin to v0.68.0
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency rc-scroll-anim to v2.3.2
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency enzyme-to-json to v3.3.3
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react-snap to v1.11.5
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency license-checker to v17.0.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency license-checker to v18.0.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency danger to v3.3.2
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update node.js packages
  .nvmrc
Owners: @evenchange4

chore(deps): update dependency eslint to v4.19.1
  package.json
  yarn.lock
Owners: @evenchange4

fix(deps): update dependency react-text-truncate to ^0.13.0
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency svgr to v1.9.1
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

feat(ncu): ncu update & upgrade node 9.9.0
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

feat(ncu): ncu update & upgrade node 9.9.0 (#594)
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): add bumped versions & format
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

fix(UI): select svg icon size
  packages/mcs-lite-ui/src/InputSelect/__snapshots__/InputSelect.example.storyshot
  packages/mcs-lite-ui/src/Select/__snapshots__/Select.example.storyshot
  packages/mcs-lite-ui/src/Select/styled-components.js
Owners: @evenchange4

fix(UI): select svg icon size (#596)
  packages/mcs-lite-ui/src/InputSelect/__snapshots__/InputSelect.example.storyshot
  packages/mcs-lite-ui/src/Select/__snapshots__/Select.example.storyshot
  packages/mcs-lite-ui/src/Select/styled-components.js
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): add bumped versions & format
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

chore(deps): update dependency react-responsive to v4.1.0
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency rxjs to v5.5.8
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency rc-scroll-anim to v2.3.3
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update node.js packages
  .nvmrc
Owners: @evenchange4

feat(ui): add InputRadio Component
  packages/mcs-lite-ui/src/InputRadio/InputRadio.example.js
  packages/mcs-lite-ui/src/InputRadio/InputRadio.js
  packages/mcs-lite-ui/src/InputRadio/__snapshots__/InputRadio.example.storyshot
  packages/mcs-lite-ui/src/InputRadio/__tests__/InputRadio.test.js
  packages/mcs-lite-ui/src/InputRadio/index.js
  packages/mcs-lite-ui/src/InputRadio/styled-components.js
Owners: @evenchange4

chore(ncu): ncu update & use node 9.11.1
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  lerna.json
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/containers/Section3/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageCustom.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageOpenSource.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4, @dariachen

feat(ui): add InputRadio Component
  packages/mcs-lite-ui/src/InputRadio/InputRadio.example.js
  packages/mcs-lite-ui/src/InputRadio/InputRadio.js
  packages/mcs-lite-ui/src/InputRadio/__snapshots__/InputRadio.example.storyshot
  packages/mcs-lite-ui/src/InputRadio/__tests__/InputRadio.test.js
  packages/mcs-lite-ui/src/InputRadio/index.js
  packages/mcs-lite-ui/src/InputRadio/styled-components.js
Owners: @evenchange4

chore(ncu): ncu update & use node 9.11.1
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  lerna.json
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/containers/Section3/__tests__/__snapshots__/styled-components.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageCustom.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section4/__tests__/__snapshots__/ImageOpenSource.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Image.test.js.snap
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4, @dariachen

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): format & add bumped versions
  CHANGELOG.md
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

feat(avatar): add Avatar component
  packages/mcs-lite-ui/setupTests.js
  packages/mcs-lite-ui/src/Avatar/Avatar.example.js
  packages/mcs-lite-ui/src/Avatar/Avatar.js
  packages/mcs-lite-ui/src/Avatar/IconAvatar.js
  packages/mcs-lite-ui/src/Avatar/__snapshots__/Avatar.example.storyshot
  packages/mcs-lite-ui/src/Avatar/index.js
  packages/mcs-lite-ui/src/Avatar/styled-components.js
  packages/mcs-lite-ui/src/Avatar/svg/avatar.svg
Owners: @evenchange4

fix(avatar): use prototype `defaultProps`, `propTypes` for consumers
  packages/mcs-lite-ui/src/Avatar/Avatar.js
Owners: @evenchange4

fixup
  packages/mcs-lite-ui/src/Avatar/Avatar.js
Owners: @evenchange4

fix(danger): fix
  dangerfile.js
Owners: @evenchange4

refactor
  packages/mcs-lite-ui/src/Avatar/Avatar.js
Owners: @evenchange4

use size: number
  packages/mcs-lite-ui/src/Avatar/Avatar.js
Owners: @evenchange4

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002
