Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002

docs(changelog): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-cra/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4

docs(CHANGELOG): add bumped versions
  CHANGELOG.md
Owners: @evenchange4

chore(react-intl-cra): move to standalone repo
  README.md
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/react-intl-cra/README.md
  packages/react-intl-cra/bin/extract-messages.js
  packages/react-intl-cra/package.json
  yarn.lock
Owners: @evenchange4

chore(react-intl-cra): move to standalone repo (#484)
  README.md
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/react-intl-cra/README.md
  packages/react-intl-cra/bin/extract-messages.js
  packages/react-intl-cra/package.json
  yarn.lock
Owners: @evenchange4

fix(Landing): We should use hydrate() here but got some problems with re-render
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/components/DownloadButton/DownloadButton.js
  packages/mcs-lite-landing-web/src/components/DownloadButton/index.js
  packages/mcs-lite-landing-web/src/index.js
  yarn.lock
Owners: @evenchange4

update
  packages/mcs-lite-landing-web/src/components/DownloadButton/DownloadButton.js
  packages/mcs-lite-landing-web/src/components/DownloadButton/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Section1.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Section5.test.js.snap
Owners: @evenchange4

fix(Landing): We should use hydrate() here but got some problems with re-render (#485)
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/components/DownloadButton/DownloadButton.js
  packages/mcs-lite-landing-web/src/components/DownloadButton/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-landing-web/src/components/DownloadButton/index.js
  packages/mcs-lite-landing-web/src/containers/Section1/__tests__/__snapshots__/Section1.test.js.snap
  packages/mcs-lite-landing-web/src/containers/Section5/__tests__/__snapshots__/Section5.test.js.snap
  packages/mcs-lite-landing-web/src/index.js
  yarn.lock
Owners: @evenchange4

fix(Landing/Footer): mock year 新年快樂 🎉
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/Footer.test.js
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/index.test.js
Owners: @evenchange4

fix(Landing/Footer): mock year 新年快樂 🎉 (#486)
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/Footer.test.js
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  packages/mcs-lite-landing-web/src/components/Footer/__tests__/index.test.js
Owners: @evenchange4

chore(ncu): upgrade react-intl-cra
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(ncu): upgrade react-intl-cra (#487)
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): pin dependencies
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-introduction/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4, @abby1002, @dariachen

chore(deps): pin dependencies
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-introduction/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4, @abby1002, @dariachen

update
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

update
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-landing-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-landing-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-mobile-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-mobile-web/messages.pot
Owners: @dariachen

update
  docs/licenses.csv
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-landing-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-mobile-web/messages.json
Owners: @evenchange4, @dariachen

update
  README.md
  packages/mcs-lite-admin-web/src/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-admin-web/src/__tests__/index.test.js
  packages/mcs-lite-landing-web/src/__tests__/index.test.js
  packages/mcs-lite-mobile-web/src/__tests__/__snapshots__/index.test.js.snap
  packages/mcs-lite-mobile-web/src/__tests__/index.test.js
  yarn.lock
Owners: @evenchange4

chore(deps): pin dependencies
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency danger to v3.0.5
  package.json
  yarn.lock
Owners: @evenchange4

update
  docs/licenses.csv
  yarn.lock
Owners: @evenchange4

chore(package.json): pin to a single version
  flow-typed/npm/bowser_vx.x.x.js
  flow-typed/npm/dom-align_vx.x.x.js
  flow-typed/npm/flubber_vx.x.x.js
  flow-typed/npm/jest-specific-snapshot_vx.x.x.js
  flow-typed/npm/raf-throttle_vx.x.x.js
  flow-typed/npm/react-render-to-json_vx.x.x.js
  flow-typed/npm/react-text-truncate_vx.x.x.js
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
  yarn.lock
Owners: @evenchange4

update
  yarn.lock
Owners: @evenchange4

chore(package.json): pin to a single version (#497)
  flow-typed/npm/bowser_vx.x.x.js
  flow-typed/npm/dom-align_vx.x.x.js
  flow-typed/npm/flubber_vx.x.x.js
  flow-typed/npm/jest-specific-snapshot_vx.x.x.js
  flow-typed/npm/raf-throttle_vx.x.x.js
  flow-typed/npm/react-render-to-json_vx.x.x.js
  flow-typed/npm/react-text-truncate_vx.x.x.js
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-inject-hoc/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency uuid to v3.2.0
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

update
  packages/mcs-lite-ui/src/__tests__/Storyshots.test.js
Owners: @evenchange4

chore(deps): update dependency uuid to v3.2.1
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-mobile-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react-virtualized to v9.17.3
  packages/mcs-lite-admin-web/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency eslint-plugin-jest to v21.7.0
  package.json
  yarn.lock
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/eslint-config-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-introduction/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-cra/package.json
  packages/react-intl-inject-hoc/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): add bumped versions
  CHANGELOG.md
Owners: @evenchange4

fix(deps): update dependency react-syntax-highlighter to v6.1.2
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency react-snap to v1.10.0
  packages/mcs-lite-landing-web/package.json
  yarn.lock
Owners: @evenchange4

update
  packages/mcs-lite-landing-web/public/_redirects
Owners: @evenchange4

chore(deps): update dependency danger to v3.0.6
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency license-checker to v16.0.0
  package.json
  yarn.lock
Owners: @evenchange4

chore(deps): update dependency styled-components to v3.0.0
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

test(flow): add script for CI
  tasks/lint.sh
Owners: @evenchange4

fix(deps): update dependency babel-plugin-react-intl to v2.4.0
  packages/mcs-lite-scripts/package.json
  yarn.lock
Owners: @evenchange4
