Repository MCS-Lite/mcs-lite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @evenchange4, @dariachen, @abby1002

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                               @evenchange4
packages/mcs-lite-introduction  @dariachen
packages/mcs-lite-translation   @dariachen
packages/mcs-lite-design        @abby1002

fix(Admin): update the UI strings.
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/messages.js
  packages/mcs-lite-introduction/en/mcs_lite_performance 7688.md
  packages/mcs-lite-introduction/yarn.lock
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @evenchange4, @dariachen

fix(Admin): remove unnecessary files.
  packages/mcs-lite-introduction/en/mcs_lite_performance 7688.md
  packages/mcs-lite-introduction/yarn.lock
Owners: @dariachen

fix(Admin): remove fuzzy mark in *.po file.
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

test(translation): exit with error when there is fuzzy keywords
  README.md
  packages/mcs-lite-translation/package.json
Owners: @evenchange4, @dariachen

update
  packages/mcs-lite-translation/package.json
Owners: @dariachen

test(translation): exit with error when there is fuzzy keywords (#468)
  README.md
  packages/mcs-lite-translation/package.json
Owners: @evenchange4, @dariachen

fix(Admin): remove fuzzy tags in *.po file.
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @dariachen

fix(Admin/Translation): update the UI strings & add fuzzy checker (#467)
  README.md
  packages/mcs-lite-admin-web/src/containers/Data/__tests__/__snapshots__/messages.test.js.snap
  packages/mcs-lite-admin-web/src/containers/Data/messages.js
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/en.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.json
  packages/mcs-lite-translation/src/mcs-lite-admin-web/messages.pot
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-CN.po
  packages/mcs-lite-translation/src/mcs-lite-admin-web/zh-TW.po
Owners: @evenchange4, @dariachen

fix(Admin): do not prompt restart notification when it is STOP now
  packages/mcs-lite-admin-web/src/modules/__tests__/ui.test.js
  packages/mcs-lite-admin-web/src/modules/ui.js
Owners: @evenchange4

fix(Admin): do not prompt restart notification when it is STOP now (#469)
  packages/mcs-lite-admin-web/src/modules/__tests__/ui.test.js
  packages/mcs-lite-admin-web/src/modules/ui.js
Owners: @evenchange4

fix(Admin): update checkUserAvailableAPI
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/utils/__tests__/checkUserAvailableAPI.test.js
  packages/mcs-lite-admin-web/src/utils/__tests__/checkUserAvalableAPI.test.js
  packages/mcs-lite-admin-web/src/utils/checkUserAvailableAPI.js
  packages/mcs-lite-admin-web/src/utils/checkUserAvalableAPI.js
Owners: @evenchange4

fix(Admin): update checkUserAvailableAPI (#470)
  packages/mcs-lite-admin-web/src/containers/User/User.js
  packages/mcs-lite-admin-web/src/containers/User/__tests__/User.test.js
  packages/mcs-lite-admin-web/src/utils/__tests__/checkUserAvailableAPI.test.js
  packages/mcs-lite-admin-web/src/utils/__tests__/checkUserAvalableAPI.test.js
  packages/mcs-lite-admin-web/src/utils/checkUserAvailableAPI.js
  packages/mcs-lite-admin-web/src/utils/checkUserAvalableAPI.js
Owners: @evenchange4

doc(intro): replace the system tray with the latest one.
  packages/mcs-lite-introduction/assets/mcs_lite_system_tray_windows.png
Owners: @dariachen

docs(intro): replace the system tray with the latest one. (#471)
  packages/mcs-lite-introduction/assets/mcs_lite_system_tray_windows.png
Owners: @dariachen

fix(Travis): yarn install with pure-lockfile
  .travis.yml
Owners: @evenchange4

fix(Travis): yarn install with pure-lockfile (#472)
  .travis.yml
Owners: @evenchange4

chore(node): ncu update hammerjs & update node to 8.8.1
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  docs/licenses.csv
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/containers/App/__tests__/__snapshots__/App.test.js.snap
  packages/mcs-lite-admin-web/src/setupTests.js
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

hammer
  docs/licenses.csv
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

update
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(node): ncu update & update node to 8.8.1 (#473)
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  docs/licenses.csv
  package.json
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/containers/App/__tests__/__snapshots__/App.test.js.snap
  packages/mcs-lite-admin-web/src/setupTests.js
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

fix(cycle-run): rxjs dependency break the adapter
  docs/licenses.csv
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/store/configureStore.js
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-mobile-web/src/store/configureStore.js
  yarn.lock
Owners: @evenchange4

fix(cycle-run): rxjs dependency break the adapter (#474)
  docs/licenses.csv
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-admin-web/src/store/configureStore.js
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-mobile-web/src/store/configureStore.js
  yarn.lock
Owners: @evenchange4

chore(lerna): switch to yarn workspace instead of lerna hoist
  .yarnrc
  docs/licenses.csv
  lerna.json
  package.json
  yarn.lock
Owners: @evenchange4

update
  tasks/build.sh
Owners: @evenchange4

Revert "update"
  tasks/build.sh
Owners: @evenchange4

chore(lerna): switch to yarn workspace (#475)
  .yarnrc
  docs/licenses.csv
  lerna.json
  package.json
  yarn.lock
Owners: @evenchange4

chore(ncu): ncu update
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  yarn.lock
Owners: @evenchange4

chore(ncu): ncu update (#476)
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  yarn.lock
Owners: @evenchange4

fix(Mobile): hide history for some datachannels
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/DeviceDataChannelDetail.js
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/__tests__/DeviceDataChannelDetail.test.js
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/__tests__/__snapshots__/DeviceDataChannelDetail.test.js.snap
Owners: @evenchange4

fix(Mobile): hide history for some datachannels (#477)
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/DeviceDataChannelDetail.js
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/__tests__/DeviceDataChannelDetail.test.js
  packages/mcs-lite-mobile-web/src/containers/DeviceDataChannelDetail/__tests__/__snapshots__/DeviceDataChannelDetail.test.js.snap
Owners: @evenchange4

fix(Landing): switch to react-snap & ncu update & node 9
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  docs/licenses.csv
  lerna.json
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/__tests__/index.test.js
  packages/mcs-lite-landing-web/src/index.js
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  packages/stylelint-config-mcs-lite/package.json
  tasks/build.sh
  yarn.lock
Owners: @evenchange4

update
  docs/licenses.csv
  packages/stylelint-config-mcs-lite/package.json
  yarn.lock
Owners: @evenchange4

chore(ncu): ncu update & node 9
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  docs/licenses.csv
  lerna.json
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

chore(ncu): ncu update & node 9 (#479)
  .circleci/config.yml
  .nvmrc
  .travis.yml
  README.md
  docs/licenses.csv
  lerna.json
  package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

docs(CHANGELOG): release
  CHANGELOG.md
Owners: @evenchange4

Publish
  packages/babel-preset-mcs-lite/package.json
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-connect/package.json
  packages/mcs-lite-design/package.json
  packages/mcs-lite-icon/package.json
  packages/mcs-lite-introduction/package.json
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-theme/package.json
  packages/mcs-lite-translation/package.json
  packages/mcs-lite-ui/package.json
  packages/react-intl-cra/package.json
  packages/react-intl-inject-hoc/package.json
  packages/stylelint-config-mcs-lite/package.json
Owners: @evenchange4, @abby1002, @dariachen

docs(CHANGELOG): add bumped versions
  CHANGELOG.md
Owners: @evenchange4

fix(Landing): switch to react-snap (#478)
  docs/licenses.csv
  packages/mcs-lite-landing-web/package.json
  packages/mcs-lite-landing-web/src/__tests__/index.test.js
  packages/mcs-lite-landing-web/src/index.js
  tasks/build.sh
  yarn.lock
Owners: @evenchange4

fix(rxjs): lock version 5.5.2
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4

fix(rxjs): lock version 5.5.2 (#482)
  packages/mcs-lite-admin-web/package.json
  packages/mcs-lite-mobile-web/package.json
  packages/mcs-lite-scripts/package.json
  packages/mcs-lite-ui/package.json
  yarn.lock
Owners: @evenchange4
